* {
    font-family:'Dosis', sans-serif;
}

header{
    background-color: #3b3b3b;
    color: #d4d4d4;
}

a:link {
    color: #d4d4d4;
}

a:visited {
    color: #d4d4d4;
}

a:hover {
    color: #d4d4d4;
}

a:active {
    color: #d4d4d4;
}

body{
    background-image: url("./images/background.jpg");
    background-size: cover;
}

.aboutMe {
    padding-bottom: 20px;
}

.bioPic {
    margin-top: 20px;
    width: 336px;
    height: 224px;
}

footer {
    background-color: #3b3b3b;
    color: #d4d4d4;
    position: relative;
    margin-top: 500px;
    height: 95px;
}

.credit {
    position: relative;
    margin-top: 45px;
    padding-top: 40px;
}