* {
    font-family:'Dosis', sans-serif;
}

header{
    background-color: #3b3b3b;
    color: #d4d4d4;
    width: 100%;
}

a:link, a:visited, a:hover, a:active {
    color: #d4d4d4;
}

body{
    background-image: url("./images/background.jpg");
    background-size: cover;
}

main{
    margin-bottom: 150px;
}



.aboutMe {
    padding-bottom: 20px;
    margin-top: 50px;
}


.bioPic {
    margin-top: 5px;
    max-width: 336px;
    max-height: 200px;
    width:100%;
    margin-left: 10px;
    height:100%;
    min-width: 269px;
    padding-top:15px;
    padding-bottom: 10px;

}

.mainBio{
    padding-top: 0px;
}


.bio {
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
}

footer {
    background-color: #3b3b3b;
    color: #d4d4d4;
    width: 100%;
    height: 5%;
    padding-bottom: 85px;
    margin-top: 3rem;
}

.footerImg{
    height: 30px;
    width: 30px;
    justify-self: right;
    margin-left: 10px;
}

.credit {
    position: relative;
    margin-top: 1px;
    padding-top: 5px;
    /* float: right; */
    margin-right: 10px;
    /* margin-left: 162px; */
}
