.container {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 6.5rem;
}

/* .portRow{
    border-bottom: rgb(182, 63, 16);
    border-style: double;
} */

.cardLeft, .cardRight {
    /* border: rgb(182, 63, 16); */
    border-style: solid;
}

.cardHead{
    background-color: #3b3b3b;
}