.container {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 6.5rem;
}

/* .portRow{
    border-bottom: rgb(182, 63, 16);
    border-style: double;
} */

.cardLeft, .cardRight {
    border: rgb(182, 63, 16);
    border-style: double;
}

.portBtn:link, .portBtn:visited, .portBtn:hover, .portBtn:active{
    color: rgb(182, 63, 16);
}
